<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="A file sharing website">
		<meta name="author" content="Vishal Jain">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
			<div class="banner">
				<div class="logo">
					<h1>File Sharing</h1>
				</div>
				<div class="opt-panel">
					<div class="btn">
					{{#if authorised}}
						<a href="/logout">
							<button>Log out</button>
						</a>
					{{else}}
						<a href="/login">
							<button>Log in</button>
						</a>
					{{/if}}
					</div>
				</div>	
			</div>
		</header>
		<main>
			<div class="content">
				<center>
				{{#if authorised}}
					<p>
						<h1>Welcome, {{user}}</h1> <br>
						<a href="/secure" class="home-btn">
							<button>View Your Files</button>
						</a>
					</p>
				{{else}}
					
						<p>
							Please log in or register to see your files and upload new files.
						</p>
				{{/if}}
				</center>
			</div>
			
		</main>
		
		<div class="msg">
			{{#if msg}}
				{{msg}}
			{{/if}}
		</div>
	</body>
	{{#if msg}}
		<script>
			function showMessage() {
				var msgBox = document.getElementsByClassName("msg")[0]
				msgBox.style.display = 'block'
			}
			function hideMessage() {
				var msgBox = document.getElementsByClassName("msg")[0]
				msgBox.style.display = 'none'
			}

			showMessage()
			window.setTimeout(hideMessage, 2000)
		</script>
	{{/if}}
</html>